<div class="row">
    <div class="col-md-6 offset-md-3">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <h3>Login</h3>
            <hr/>
            <div class="mb-3">
                <label>Email</label>
                <input type="text" class="form-control" formControlName="email"/>
                <p class="text text-danger" *ngIf="this.loginForm.get('email')?.touched && !this.loginForm.get('email')?.valid">Please Enter Valid Email</p>
            </div>
            <div class="mb-3">
                <label>Password</label>
                <input type="password" class="form-control" formControlName="password"/>
                <p class="text text-danger" *ngIf="this.loginForm.get('password')?.touched && this.loginForm.get('password')?.invalid">Enter Valid Password</p>
            </div>
            <div class="mb-3">

                <button class="btn btn-success">Login</button>

            </div>
        </form>
    </div>
</div>