<div class="container">
  <!-- <div class="row col-md-12 text-center">
    <p>Counter Example</p>
    <app-coutner-view></app-coutner-view>
    <div class="my-3">
      <app-counter-buttons></app-counter-buttons>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-12">
      <div class="mr-3">
        <app-coutner-view></app-coutner-view> 
      </div>
      <div class="my-3">
        <app-counter-buttons></app-counter-buttons>
      </div>
      <div class="my-3">
        <app-custom-counter></app-custom-counter>
      </div>
    </div>
  </div>
</div>
