<div class="row my-4">
    <div class="col-md-12">
        <h3>Add Student</h3>
        <hr />
        <form [formGroup]="studentForm" (ngSubmit)="onAddStudent()">
            <div class="mb-3">
                <label>Id</label>
                <input type="text" class="form-control" formControlName="id" />


            </div>
            <div class="mb-3">
                <label>Name</label>
                <textarea class="form-control" formControlName="name"></textarea>
                <div>{{ showDescriptionErrors() }}</div>
            </div>

            <div class="my-3">
                <button type="submit" class="btn btn-primary">
                    Add Student
                </button>
            </div>
        </form>
    </div>
</div>