<div class="row">
  <div class="col-md-8">
      <h3 class="text-center">Post List</h3>
      <div  class="text-center">
        <button class="btn btn-primary" [routerLink]="['add']">Add Post1</button>
      </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let post of postsList$| async">
                <th scope="row">1</th>
                <td>{{post.id}}</td>
                <td>{{post.title}}</td>
                <td>{{post.description}}</td>
                <td><a href="" class="btn btn-success" [routerLink]="['edit', post.id]">Update</a></td>
                <td><a href="" class="btn btn-danger" (click)="delete(post.id)">Delete</a></td>
              </tr>
             
            </tbody>
          </table>
    </div>
    <div class="col-md-4">
     <router-outlet></router-outlet>
    </div>
</div>

